
html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
    background-color: rgb(75, 165, 201);
}

#obstacle_run {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 600px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: url(https://i.pinimg.com/originals/d4/05/06/d40506d2c691b53284269f7c2cf44151.png);
    margin: auto;
}

#obstaclerun_container {
    display: relative;
    justify-content: center;
    width: 895px;
    height: 580px;
    border: 1px solid rgb(190, 54, 54);
    border-radius: 10px;
    position: relative;
    margin: auto;
    
}
  .obstacle {
    height: 60px;
    width: 60px;
    background: url(https://png2.cleanpng.com/dy/977555dc58d3aebc8c3a6d82b9efb6cb/L0KzQYm3VMA4N5Rrj5H0aYP2gLBuTgNpaaNwRdt8dYL4g372mQlzcZ9ogOd8LXPvecG0ggJ1NaRteeR0cz24cbSBhchlP2Y9fqVqMD62Roa5UsE6P2I6SqU6MUa1RIi6VsQ1NqFzf3==/kisspng-shark-isurus-oxyrinchus-clip-art-sharks-5ac8e8d758f3a0.3652219715231162473644.png);
    background-size: 60px 60px;
    position: absolute;
    top: 0px;
    left: 0px;
}

  .player {
      height: 30px;
      width: 30px; 
      background: url(https://png2.cleanpng.com/dy/bf41d98a47270845908836522062f818/L0KzQYm3U8E3N5h2iZH0aYP2gLBuTfNieqV0h9C2Znn2eH7qjPlxNZJ3jJ9sdYToPbfwkBguPZJme6RqY0PlQrXtVMgvOWE7TqI6MES0RYO4UsMzPWgAT6U7Nz7zfri=/kisspng-cartoon-fish-clip-art-cute-fish-5aac2ac3b2df48.1066010415212325797327.png);
      background-size: 30px 30px;
      position: absolute;
      top: 0px;
      left: 0px; 
     }

.button {
    margin: auto;
    padding: 30px;
    position: absolute;
    top: 5%;
    left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.restartbutton {
    width: 100px;
    background-color: #008CBA;
    margin: auto;
    padding: 30px;
    position: absolute;
    top: 5%;
    left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.treasure {
    height: 60px;
    width: 60px; 
    background: url(https://i.pinimg.com/originals/77/6a/ee/776aee01f74dfd22f80c18109c3df1b2.png);
    background-size: 60px 60px;
    position: absolute;
    top: 0px;
    left: 0px; 
   }




