
.obstaclerun_container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0px;
    width:1250px;
    height:550px;
    margin: auto;    
    
}
body {
    background-image: url(https://i.pinimg.com/originals/d4/05/06/d40506d2c691b53284269f7c2cf44151.png);
    background-size:cover;
  }


