.flex{ 
    display: flex; 
    flex-flow: row;
    justify-content: center; 
}

body {
    background-image: url("https://i.pinimg.com/originals/d4/05/06/d40506d2c691b53284269f7c2cf44151.jpg");

}

#level_container {
    width:800px;
    height:600px;


}